{% extends "shared/base_main.html" %}
{% block title %}Blog{% endblock %}

{% block app_content %}
<div id="this-block">
  <div class="content mb-6">
    <form ref="form" action="{{ url_for('admin_blog.post') }}"  method="post">
    {{ form.csrf_token }}
      <div class="field">
        {{ form.title.label(class_='label') }}
        <p class="control">
          {{ form.title(class_="input") }}
        </p>
        {% for error in form.title.errors %}
        <p class="help is-danger">{{ error }}</p>
        {% endfor %}
      </div>

      <div class="field">
        {{ form.post.label(class_='label') }}
        <p class="control">
          {{ form.post() }}
        </p>
        {% for error in form.post.errors %}
        <p class="help is-danger">{{ error }}</p>
        {% endfor %}
      </div>

      <div class="field">
        {{ form.tags.label(class_='label') }}
        <p class="control">
          <p v-if="tags.length==0" class="help is-info">
            Hint: You need to press Enter
          </p>
          <div v-for='(tag, index) in tags' :key='tag' class="tags has-addons mr-2 tag-tags">
            <span class="tag is-info is-light">[[ tag ]]</span>
            <a @click="removeTag(index)" class="tag is-delete"></a>
          </div>
          <input 
            type='text' 
            placeholder="Enter a Tag" 
            class='input tag-input' 
            @keydown.enter='addTag' 
            @keydown.188='addTag'
          />
        </p>
        <p class="help is-danger">[[ tagError ]]</p>
      </div>

      {{ form.tags(class_="input",**{':value':'tags'}) }}

      <div class="field">
        <div class="control">
          {{ form.submit(class_="button is-link") }}
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
new Vue({
  el: '#this-block',
  delimiters: ['[[', ']]'],
  data() {
    return {
      tags: [],
      tagError: ''
    }
  },
  methods: {
    addTag(event) {
      this.tagError = ''
      event.preventDefault()
      var val = event.target.value.trim().toLowerCase()
      if (val.length >= 12) {
        this.tagError = "Too many characters"
        event.target.value = ''
      } else if (this.tags.length >= 6) {
        this.tagError = "Too many tags"
        event.target.value = ''
      } else if (this.tags.includes(val)) {
        this.tagError = "Duplicate entry"
        event.target.value = ''
      } else if (val.length > 0) {
        this.tags.push(val)
        event.target.value = ''
      }
    },
    removeTag (index) {
      this.tagError = ''
      this.tags.splice(index, 1)
    }
  },
  mounted() {
    let t = "{{ tags }}"
    if (t) {
      this.tags = t.split(',')
    }
  }
})
</script>
{% include 'shared/tinymce/_tinymce_blog.html' %}
{% endblock %}
