{% extends "admin_dashboard/base.html" %}
{% block title %}Page Contact{% endblock %}

{% block app_content %}
<div id="app">
  <div class="section">
    <form method="post" action="{{ url_for('admin_page.page_contact') }}">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
      <input type="hidden" name="id" value="{{ edit_ver.id }}">
      <div class="level">
        <div class="level-left">
          <div class="level-item">
            <div class="content">
              <h5>Content</h5>
            </div>
          </div>
        </div>
        <div class="level-right">
          {% if edit_ver.page_status.name == 'draft' %}
          <input type="submit" name="submit_btn" value="Save" class="button is-warning mr-3">
          <input type="submit" name="submit_btn" value="Publish" class="button is-success">
          {% else %}
          <input type="submit" name="submit_btn" value="Save as draft" class="button is-warning">
          {% endif %}
        </div>
      </div>
      <textarea name="content" id="page">
        {{ edit_ver.content }}
      </textarea>
    </form>
  </div>

  {% if all_ver %}
  <div class="section pb-6">
    <div class="content">
      <p class="is-small has-text-weight-bold">Version History</p>
      <table class="table is-narrow is-hoverable is-size-7">
        <thead>
          <tr>
            <th>Last published</th>
            <th>by</th>
            <th>Content</th>
            <th>Status</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for v in all_ver %}
            {% if v.page_status.name == 'published' %}
            <tr class="has-background-success-light">
              <td>{{ moment(v.update_date).format('D MMM YYYY hh:mm') }}</td>
              <td>{{ v.update_by }}</td>
              <td>{{ v.content|truncate(50,true,'...')|striptags }}</td>
              <td>Published</td>
            {% elif v.page_status.name == 'draft' %}
            <tr class="has-background-warning-light">
              <td></td>
              <td></td>
              <td>{{ v.content|truncate(50,true,'...')|striptags }}</td>
              <td>Draft</td>
            {% else %}
            <tr>
              <td>{{ moment(v.update_date).format('D MMM YYYY hh:mm') }}</td>
              <td>{{ v.update_by }}</td>
              <td>{{ v.content|truncate(50,true,'...')|striptags }}</td>
              <td>Archived</td>
            {% endif %}
              <td>
                {% if v.id == edit_ver.id %}
                <p>Currently editing</p>
                {% else %}
                <form method="post" action="{{ url_for('admin_page.page_contact') }}">
                  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                  <input type="hidden" name="id" value="{{ v.id }}">
                  <input type="submit" name="submit_btn" value="Edit this version" class="button is-small">
                </form>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}

{% block scripts %}
{% include 'admin_page/_tinymce.html' %}
<!--
<script>
  new Vue({
    el: '#app',
    delimiters: ['[[', ']]'],
    data: {
      showModal: false
    },
    methods: {
      showConfirm(e) {
        this.showModal = true
        e.preventDefault()
      }
    }
  })
</script>-->
{% endblock %}
