{% extends "shared/base_main.html" %}
{% from 'shared/macros/_pagination.html' import pagination %}
{% block title %}Contact{% endblock %}

{% block app_content %}
<div id="app">
  <form method="post" action="{{ url_for('admin_message.mark_read') }}">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <div class="level">
      <div class="level-left">
        <div class="level-item">
        </div>
      </div>
      <div class="level-right">
        <input type="submit" name="btn" value="Mark as Read / Unread" class="button">
      </div>
    </div>

    <table class="table is-narrow is-fullwidth">
    {% for msg in messages.items %}
      {% if msg.user_read %}
      <thead class="has-background-success-light">
      {% else %}
      <thead>
      {% endif %}
        <tr>
          <th colspan="2">
            <div class="level">
              <div class="level-left">
                <div class="level-item">
                  {% if msg.user_read %}
                  <div class="content has-text-grey-light">
                  {% else %}
                  <div class="content">
                  {% endif %}
                  {{ moment(msg.create_date).format('D MMM YYYY') }} at {{ moment(msg.create_date).format('LT') }}
                  </div>
                </div>
              </div>
              <div class="level-right">
                <div class="level-item">
                  <input type="checkbox" class="checkbox" id="chk" name="chk" value="{{msg.id}}">
                </div>
              </div>
            </div>
          </th>
        </tr>
      </thead>
      {% if msg.user_read %}
      <tbody class="has-background-success-light has-text-grey-light">
      {% else %}
      <tbody>
      {% endif %}
        <tr>
          <td>From:</td>
          <td>{{ msg.name }}</td>
        </tr><tr>
          <td>Email:</td>
          <td>{{ msg.email }}</td>
        </tr><tr>
          <td>Message:</td>
          <td>{{ msg.message }}<br/><br/></td>
        </tr>
      </tbody>
      {% endfor %}
    </table>
  </form>

  {% if messages.pages > 1 %}
  {{ pagination(messages,'admin_message.message') }}
  {% endif %}
</div>
{% endblock %}

