<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="My website">
    <title>{% block title %}{% endblock %}</title>
    <script defer src="https://use.fontawesome.com/releases/v5.15.2/js/all.js" integrity="sha384-vuFJ2JiSdUpXLKGK+tDteQZBqNlMwAjhZ3TvPaDfN9QmbPb7Q8qUpbSNapQev3YF" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/mybulma.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/app.css') }}" type="text/css">
  </head>
  <body>
  <section class="hero is-primary is-small">
    <div class="hero-body">
      <div class="columns is-vcentered is-mobile">
        <div class="column is-narrow">
          <img src="{{ url_for('static', filename='images/crown.svg') }}" width="60"/>
        </div>
        <div class="column is-narrow">
          <p class="title is-3">Flask CMS</p>
        </div>
      </div>
    </div>
  </section>
  {% block app_content %}{% endblock %}
  </body>
</html>
